doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title 2018-12-31
    meta(name="description", content="2018-12-31")
    style.
      * {
        box-sizing: border-box;
      }
      body {
        min-height: 100vh;
        padding: 25vh 10vw 5vh;
        background-color: #111;
        margin: 0;
      }
      .container {
        display: flex;
        height: 70vh;
      }
      canvas {
        display: block;
        margin: auto;
      }
  body
    .container
      canvas#canvas
    script(src="scripts.js")
